body {
    background-color: rgb(255, 235, 205);
    text-align: center;
    font-family: 'Roboto', arial;
}

.header{
    font-size: 60px;
    font-weight: 700;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 79px;
    font-weight: 700;
    gap: 20px;
}

#selection, #scores, #final {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}